<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>Users: (count =
    <th:block th:text="${users.size()}"/>
    )
</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <th>
                <th:block th:text="${user.id}"/>
            </th>
            <th>
                <th:block th:text="${user.firstName}"/>
            </th>
            <th>
                <th:block th:text="${user.secondName}"/>
            </th>
            <th>
                <th:block th:text="${user.email}"/>
            </th>
            <th>
                <form th:action="@{/users/{id}/edit(id=${user.id})}">
                    <button>Edit</button>
                </form>
            </th>
            <th>
                <form th:action="@{/users/delete/{id}(id=${user.id})}">
                    <button>Delete</button>
                </form>
            </th>
        </tr>
    </th:block>
    </tbody>
</table>

<br/>

<form th:action="@{/users/filter}" th:method="GET">
    <p>Find by name (with %)</p>
    <input type="text" name="name" placeholder="Write name"/>
    <input type="submit"/>
</form>

<hr/>

<form th:action="@{/users/new}">
    <button>Add new user</button>
</form>

<form th:method="POST" th:action="@{/users/generate}">
    <button>Add 10 random users</button>
</form>

</body>
</html>