<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style type="text/css">
        TABLE {
            width: 300px;
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
        TH {
            background: #b0e0e6;
        }
    </style>
</head>
<body>

<h2>Users: (count =
    <th:block th:text="${users.size()}"/>
    )
</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Items</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <th>
                <th:block th:text="${user.id}"/>
            </th>
            <th>
                <th:block th:text="${user.login}"/>
            </th>
            <th>
                <th:block th:text="${user.password}"/>
            </th>
            <th>
                <th:block th:text="${user.firstName}"/>
            </th>
            <th>
                <th:block th:text="${user.secondName}"/>
            </th>
            <th>
                <th:block th:text="${user.age}"/>
            </th>
            <th>
                <th:block th:text="${user.email}"/>
            </th>
            <th>
                <select th:style="'text-align: center'">
                    <th:block th:each="item : ${user.items}">
                        <option>
                            <th:block th:text="${item.item_name} + ': ' + ${item.price} + '$'"/>
                        </option>
                    </th:block>
                </select>
            </th>
            <th>
                <form th:action="@{/users/{id}/edit(id=${user.id})}">
                    <button>Edit</button>
                </form>
            </th>
            <th>
                <form th:action="@{/users/delete/{id}(id=${user.id})}">
                    <button>Delete</button>
                </form>
            </th>
        </tr>
    </th:block>
    </tbody>
</table>

<br/>

<form th:action="@{/users/filter/login}" th:method="GET">
    <p>Find by login (with %)</p>
    <input type="text" name="login" placeholder="Write login"/>
    <input type="submit"/>
    <input type="reset"/>
</form>

<form th:action="@{/users/filter/age}" th:method="GET">
    <p>Find by age (between min and max)</p>
    <input type="text" name="min" placeholder="min"/>
    <input type="text" name="max" placeholder="max"/>
    <input type="submit"/>
    <input type="reset"/>
</form>

<hr/>

<form th:action="@{/users/new}">
    <button>Add new user</button>
</form>

<form th:method="POST" th:action="@{/users/generate}">
    <button>Add 10 random users</button>
</form>

<hr/>

<form th:action="@{/users/truncate}">
    <button>TRUNCATE TABLE</button>
</form>

</body>
</html>